
<ng-container *ngIf="post">


  <div 
  class="card" 
  style="width: 18rem;"
  >

      <!-- <img src="{{ post.images[0] }}" class="card-img-top" alt="..."> -->
      <img [src]="post.images[0]" class="card-img-top" alt="{{ post.images[0] }}">
      <div class="card-body">
        <h5 class="card-title">
          {{ post.author.name }}
        </h5>
        <p class="card-text">
          
          {{ post.body }}
        </p>
        <a routerLink="/404" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

      
</ng-container>