<ng-container *ngIf="post">

    <div class="card text-center m-3">
        <div class="card-header d-flex">

            <img
                class="avatar mr-3 rounded-sm"
                [src]="post.author.avatar_url"
                routerLink="/posts/{{ post.id }}"
            >

            <div class="text-left">
                <h5 class="card-title">{{ post.author.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <a
                        href
                        routerLink="/posts/{{ post.id }}"
                    >
                        {{ post.created_time | myDate }}
                    </a>
                </h6>
            </div>

        </div>
        <img
            [src]="post.images[0]"
            class="card-img-top"
        >
        <div class="card-body">

            <p class="card-text">{{ post.body }}</p>

        </div>
        <div class="card-footer text-muted">

            <app-comment-list></app-comment-list>

            <app-comment-add-form></app-comment-add-form>

        </div>
    </div>

</ng-container>
